#panorama {
    position: relative;
    
        
}
.panorama_contents {
    /*
    left: 0px;
    position: absolute;
    top: 0px;
    */
    padding: 20px;
}
#pan1 {
    /*
    position: absolute;
    top: 50px;
    left: 0px;
    */
}
#pan2 {
    /*
    position: absolute;
    top: 50px;
    left: 330px;
    */
}
#pan3 {
    /*
    position: absolute;
    top: 50px;
    left: 660px;
    */
}
.panoramaControls {
    /*
    position: absolute;
    left: 0px;
    top: 00px;
    */
    min-width: 600px;
}
.panoramaControls a {
    border: 1px solid black;
    padding: 3px;
}

#pan1Info, #pan2Info, #pan3Info{
    min-height: 100px;
}
