<div id="panorama">
    <div class=panorama_contents>
        <div id="pan1">
            Web GL in Canvas
            <div id="pan1Container">
                <canvas id="pan1Canvas"></canvas>
            </div>
            <div id="pan1Info">info</div>
            <div id="pan1ContainerCopy">

            </div>
        </div>
        <div id="pan2">
            Plain Canvas
            <div id="pan2Container">
                <canvas id="pan2Canvas"></canvas>
            </div>
            <div id="pan2Info">info</div>
            <div id="pan2ContainerCopy">
            </div>
        </div>
        <div id="pan3">
            Plain Canvas with overdraw
            <div id="pan3Container">
                <canvas id="pan3Canvas"></canvas>
            </div>
            <div id="pan3Info">info</div>
            <div id="pan3ContainerCopy">
            </div>
        </div>
        <div class="panoramaControls">
            <a id="btnSnapShot" class="btns">take snapshots</a>
            <a id="btnClose" class="btns">close</a>
        </div>
    </div>
</div>