<div id="panorama">
    <div id="pan1">
        <div id="pan1Container">
            <canvas id="pan1Canvas"></canvas>
        </div>
        <div id="pan1ContainerCopy">
            <canvas id="pan1CanvasCopy"></canvas>
        </div>
    </div>
    <div id="pan2">
        <div id="pan2Container">
            <canvas id="pan2Canvas"></canvas>
        </div>
        <div id="pan2ContainerCopy">
            <canvas id="pan2CanvasCopy"></canvas>
        </div>
        
    </div>
    <div class="panoramaControls">
        <a id="btnSnapShot" class="btns">take snapshots</a>
        <a id="btnClose" class="btns">close</a>
    </div>
</div>