<div id="Home">

	
	<div id="logo">
		&nbsp;
	</div>
	
	<div id="print">
		<a href="#" onclick="window.print(); return false;">
		<img src="images/printknop.png"/>
		</a>
		<div id="printText"></div>
		
	</div>
	
	<div id="labelMap1" class="labelMap1">
		<div id="labelMap1Layer">
			Eerste Verdieping
		</div>
		<div id="labelMap1Desc">
			
		</div>
	</div>
	<div id="labelMap2" class="labelMap2">
		<div id="labelMap2Layer">
		</div>
		<div id="labelMap2Desc">
			
		</div>
	</div>
	<div id="topLabel" class="topLabel"></div>
	<div id="maps" class="maps">
		<div id="map1" class="map1 map">
			<div id="map1Image" class="map1Image mapImage"></div>
		</div>

		<div id="map2" class="map2 map">
			<div id="map2Image" class="map2Image mapImage"></div>
		</div>

		<div id="mapIcons" class="mapIcons"></div>

		<div id="mapLabels" class="mapLabels mapContent ontzichtbaar">
			<span id="mapLabelStart" class="mapLabelStart mapContent">Label 1</span>
			<span id="mapLabelEnd" class="mapLabelEnd mapContent">Label 2</span>
			<div id="tooltip" class="tooltip">
				<div class="tooltipInner">
					<span id="tooltiptext"></span>
				</div>
			</div>
		</div>

		<canvas id="mapArrow" class="mapArrow mapContent"></canvas>
	</div>
	
	
	
<!--
	<div id="routeChoice">
		<a href="#" onclick="SHoofddorp.Menu.setRouteChoice('north');return false;">Noorden</a>
		<a href="#" onclick="SHoofddorp.Menu.setRouteChoice('south');return false;">Zuiden</a>
	</div>
-->

</div>