<div id="Home">
    <div id="logoContainer" width="100%">
        <img width="100%" src="images/logo_spaarne_liggend.png" />
    </div>

    <div class="menuRouteContainer">
        <div id="menuRouteContainerInner" class="menuRouteContainerInner">
        </div>
    </div>

    <div class="extraButtons">
        <a id="btnPanorama" class="btns">Show Panorama</a>
    </div>

    <div id="floor1Text" class="floorText">
        <div id="floor1TextInner" class="floorTextInner">
            <b>Eerste verdieping:</b>
        </div>
    </div>
    <div id="map1" class="map1 map">
        <div id="map1Image" class="map1Image mapImage"></div>
    </div>

    <div id="floor2Text" class="floorText hidden">
        <div id="floor2TextInner" class="floorTextInner">
            <b>Tweede verdieping:</b>
        </div>
    </div>

    <div id="map2" class="map2 map">
        <div id="map2Image" class="map2Image mapImage"></div>
    </div>



    <div id="mapIcons" class="mapIcons"></div>

    <div id="mapLabels" class="mapLabels mapContent ontzichtbaar">
        <span id="mapLabelStart" class="mapLabelStart mapContent">Label 1</span>
        <span id="mapLabelEnd" class="mapLabelEnd mapContent">Label 2</span>
        <div id="tooltip" class="tooltip">
            <div class="tooltipInner">
                <span id="tooltiptext"></span>
            </div>
        </div>
    </div>

    <canvas id="mapArrow" class="mapArrow mapContent"></canvas>

    <div id="versionText"></div>

</div>